<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
    <div id="file_upload" style="text-align: center;">
        <h1>Select an image (JPG, JPEG, BMP, PNG):</h1>
        <input type="file">
    </div>
    <br>
    <div id="filter_select" style="text-align: center;">
        <label for="filter_choice" style="font-size: 30px; "><strong>Pick a filter:</strong></label>
        <select id="filter_choice">
            <option value="gray">Gray</option>
            <option value="sepia">Sepia</option>
            <option value="Poster">Poster</option>
            <option value="Blur">Blur</option>
            <option value="Edge">Edge</option>
            <option value="Solar">Solar</option>
        </select>
    </div>
    <br>
    <div id="apply" style="text-align: center;">
        <input id="submit" type="button" value="Apply Filter" onclick="">
    </div>

</body>

{%  include "footer.html" %}

</html>