<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
<form action="" method="post"> {% csrf_token %}

    <tr>
        <th><label for="id_imgFile">Imgfile:</label></th>
        <td>
            <ul class="errorlist">
                <li>This field is required.</li>
            </ul>
            <input type="file" name="imgFile" required id="id_imgFile"></td>
    </tr>
    <tr>
        <th>
            <label for="id_filter">Filter:</label></th>
        <td>
            <ul class="errorlist">
                <li>This field is required.</li>
            </ul>
            <select name="filter" id="id_filter">
                <option value="" selected disabled hidden>Choose Filter</option>
                <option value="gray">Gray</option>
                <option value="sepia">Sepia</option>
                <option value="Poster">Poster</option>
                <option value="Blur">Blur</option>
                <option value="Edge">Edge</option>
                <option value="Solar">Solar</option>
            </select>
        </td>
    </tr>
    <input type="submit" value="Apply Filter" />
</form>

</body>

{%  include "footer.html" %}

</html>

