<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>

    {# if an error occurs while uploading, let the user know #}
    {% if errors %}
        {% for field, errs in errors.items %}
            {% for error in errs %}
                <h1>{{ error }}</h1>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="POST" action="/" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Select an image (JPG, JPEG, BMP, PNG):</h1> {{ form.imgFile }}
        <h1>Select a filter: </h1> {{ form.filter }}
        <br>
        <br>
        <button type="submit">Apply Filter</button>
    </form>

    <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
        {% if image %}
            {% load static %}
            <img src="{% static image %}" alt="image with filter applied">
            <p style="text-align: center">Success!</p>
        {% endif %}
    </div>
</body>

{%  include "footer.html" %}

</html>

